*{
	font-family: 'Montserrat',sans-serif;
	transition: all .5s;
}

.spacer::before{
	content: " ";
	white-space: pre;
}

.white{
	color: white;
}

.white-bg{
	background-color: white;
}

body{
	background-image: url(../imgs/bg.png);
	background-size: cover;
}

content{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
}

a{
	color: inherit;
}

a:hover{
	opacity: .5;
	color: inherit;
	text-decoration: none;
}

header{
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

header .col-2{
	padding: 15px 0;
}

header .white-bg{
	/* background-image: url(../imgs/bg.png);
	background-size: cover;
	background-attachment: fixed; */
	box-shadow: 0 1px rgba(0,0,0,.1);
}

section{
	height: 100%;
	min-height: 600px;
}

section>.row{
	height: 100%;
}

section>.row>.col-6{
	padding: 30px;
	padding-top: 84px;
}

.left-half{
	color: white;
}

.left-half .text-muted{
	color: rgba(255,255,255,.5) !important;
}

.left-half h1.text-muted{
	color: rgba(255,255,255,.25) !important;
}

.overlay-text{
	margin-top: -77px;
}

.right-half{
	background-color: white;
}

.right-half h1 .text-muted{
	font-weight: 300;
}

img{
	border-radius: 10px;
	box-shadow: 0px 40px 40px -40px rgba(0,0,0,.5);
}

.accented{
	color: hsl(30,100%,50%);
}

.social-media-icon{
	padding-right: 10px;
}

.social-media-icon:hover{
	opacity: 1;
	color: hsl(30,100%,50%) !important;
}

.project{
	padding-bottom: 30px;
}

.project img{
	width: 100%;
	height: 160px;
	filter: saturate(0);
}

.project img:hover{
	filter: saturate(1);
}

.project-description{
	display: block;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
